@model BrewHow.Models.PagedResult<BrewHow.Models.Recipe>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Style)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].OriginalGravity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].FinalGravity)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Style)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OriginalGravity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinalGravity)
        </td>
    </tr>
}

</table>

@{ Html.RenderPartial("PagingPartial", Model); }    