@model IEnumerable<BrewHow.Areas.Review.ViewModels.ReviewListViewModel>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
    </tr>
}
</table>
<p>
    @Html.ActionLink("Add Review", 
		"Create", 
		new {
			area = "Review", 
			id = ViewBag.RecipeId 
		} )
</p>
